* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

nav a {
  text-decoration: none;
  margin-right: 12px;
  color: rgb(39, 42, 46);
}

nav a:hover {
  border-bottom: 2px solid rgb(39, 42, 46);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 70px;
  gap: 100px;
}

.top-right img {
  border-radius: 40px;
}

.top-left h1 {
  font-size: 70px;
}

.top-left h4 {
  font-size: 30px;
}

.long-card {
  display: flex;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
  overflow: hidden;
}

.long-card-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem 3rem;
}

.long-card-left p {
  color: rgb(39, 42, 46);
}

.long-card-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.long-card-left-bottom p a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.vertical-card {
  display: flex;
  flex-direction: column-reverse;
  max-width: 390px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
  overflow: hidden;
  margin: 30px 0px;
}

.middle-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}

.middle-cards {
  display: flex;
  justify-content: space-between;
}

.middle-card-bottom p {
  color: rgb(39, 42, 46);
}

.big-card {
  display: flex;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
  overflow: hidden;
  background: rgba(144, 206, 232, 0.2);
}

.big-card img {
  width: 50%;
}

.big-card-left {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto 20px;
}

.big-card-left h1 {
  font-size: 70px;
}

.big-card-left p {
  color: rgb(39, 42, 46);
}

.btn {
  height: 70px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn button {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background: rgb(133, 79, 209);
  color: #fff;
  border: none;
  font-weight: 600;
}

footer {
  height: 60px;
  padding: 10px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons a {
  text-decoration: none;
  color: rgb(39, 42, 46);
  margin-right: 30px;
}

hr {
  width: 100vw;
}
