@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --lightGreen: rgb(77, 247, 99);
  --darkGreen: rgb(14, 176, 22);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --red: rgb(235, 52, 55);
  --pink: rgba(240, 113, 187, 0.6);
}

body {
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 40px;
}

header {
  background: var(--white);
  color: var(--black);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

header nav {
  width: 100%;
  padding: 0 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding-right: 12px;
  color: var(--black);
  transition: 0.2s ease-in;
}

nav a:hover {
  color: red;
}

nav h2 {
  font-family: "Pacifico", cursive;
  font-size: 36px;
  color: red;
}

.hero-section {
  width: 100vw;
  max-width: 100%;
  min-height: 700px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(media/music-background.jpg); */
  background: url(media/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
  position: relative;
}

.hero-section h1 {
  font-weight: 600;
  font-size: 65px;
  margin-bottom: 15px;
  font-family: "Pacifico", cursive;
  text-decoration: underline;
  /* color: var(--black); */
  color: rgba(139, 23, 212, 0.6);
  position: absolute;
  top: 240px;
}

.hero-section p {
  margin: 10px 0;
}

.content {
  position: absolute;
  top: 500px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: var(--lightGreen); */
  background: rgba(70, 65, 224, 0.2);
  padding: 35px 100px 20px;
}

h2 span {
  font-size: 20px;
}

.small-text {
  font-size: 9px;
}

h4 {
  margin: 20px 0px;
}

.container p {
  margin: 0px auto 20px;
}

.container button {
  width: 150px;
  height: 40px;
  background: var(--black);
  color: var(--white);
  border-radius: 7px;
  transition: 0.5s all ease-in;
  margin: 5px auto 25px;
}
button:hover {
  color: red;
}

.ipad-img {
  position: relative;
  top: 400px;
  margin-top: -400px;
}

.about {
  padding: 400px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about button {
  padding: 5px 20px;
  background: var(--darkGreen);
  border-radius: 7px;
  border: none;
  color: white;
}

.video-section {
  background: url(media/video.png);
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 70px 10px;
  color: var(--white);
}

.videoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 70px 10px;
  color: var(--white);
  margin-top: -200px;
}

.gift-section {
  padding: 70px 150px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
hr {
  width: 100%;
}

.right-side button {
  width: 100px;
  height: 30px;
  background: purple;
  color: var(--white);
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background: var(--lightGreen);
}

.upper-footer ul li {
  list-style: none;
}

.upper-footer h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--black);
}

.lower-footer {
  text-align: center;
  background: var(--darkGreen);
  height: 50px;
}

.lower-footer p {
  padding: 10px;
}
