* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.background1 {
  background: url(images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.text1 {
  width: 600px;
  height: 50px;
  background: #fff;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text1 p {
  font-size: 45px;
  font-weight: 300;
  padding: 5px auto;
  text-transform: uppercase;
}

.section {
  text-align: center;
  padding: 50px 70px;
}

.section h1 {
  padding-bottom: 20px;
}

.background2 {
  background: url(images/image2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  background-attachment: fixed;
}

.text2 {
  width: 600px;
  height: 50px;
  background: #fff;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text2 p {
  font-size: 45px;
  font-weight: 300;
  padding: 5px auto;
  text-transform: uppercase;
}

.background3 {
  background: url(images/image3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  background-attachment: fixed;
}

.text3 {
  width: 600px;
  height: 50px;
  background: #fff;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text3 p {
  font-size: 45px;
  font-weight: 300;
  padding: 5px auto;
  text-transform: uppercase;
}

nav {
  padding: 7px 20px;
  height: 40px;
  /* position: sticky;
  top: 0px; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right p a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.navbar h2 {
  color: red;
  letter-spacing: 7px;
}
